WebServiceProj_Client/res/FactorialServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://max" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://max" xmlns:intf="http://max" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://max" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getFacto">
    <complexType>
     <sequence>
      <element name="n" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFactoResponse">
    <complexType>
     <sequence>
      <element name="getFactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="otp">
    <complexType>
     <sequence>
      <element name="mob" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="otpResponse">
    <complexType>
     <sequence>
      <element name="otpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="otpRequest">

      <wsdl:part element="impl:otp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactoRequest">

      <wsdl:part element="impl:getFacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactoResponse">

      <wsdl:part element="impl:getFactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="otpResponse">

      <wsdl:part element="impl:otpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FactorialServices">

      <wsdl:operation name="getFacto">

         <wsdl:input message="impl:getFactoRequest" name="getFactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFactoResponse" name="getFactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="otp">

         <wsdl:input message="impl:otpRequest" name="otpRequest">

       </wsdl:input>

         <wsdl:output message="impl:otpResponse" name="otpResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FactorialServicesSoapBinding" type="impl:FactorialServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="otp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="otpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="otpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FactorialServicesService">

      <wsdl:port binding="impl:FactorialServicesSoapBinding" name="FactorialServices">

         <wsdlsoap:address location="http://localhost:8080/ZFactorialServer/services/FactorialServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
